[submodule "others/active-directory-dotnetcore-daemon-v2"]
	path = others/active-directory-dotnetcore-daemon-v2
	url = git@github.com:Azure-Samples/active-directory-dotnetcore-daemon-v2.git
[submodule "others/active-directory-aspnetcore-webapp-openidconnect-v2"]
	path = others/active-directory-aspnetcore-webapp-openidconnect-v2
	url = git@github.com:Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2.git
[submodule "others/ms-identity-aspnet-webapi-onbehalfof"]
	path = others/ms-identity-aspnet-webapi-onbehalfof
	url = git@github.com:Azure-Samples/ms-identity-aspnet-webapi-onbehalfof.git
